frontend postgres_read
  bind *:5433
  default_backend postgres_replicas

backend postgres_replicas
  balance roundrobin
  option tcp-check
  server replica1 postgres-replica-1:5432 check
  server replica2 postgres-replica-2:5432 check
